/*Begin - This piece of code was provided by Andrew Hawryshkewich*/
/* This will add some content to the grid and display it in block */
.grid:after {
	content: " ";
	display: block;
	clear: both;
}

/* Box model compatile with browsers */
*, *.after, *.before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Custom class for our columns */
[class^='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}
/*End - This piece of code was provided by Andrew Hawryshkewich*/
 /*i use this to define the width of the page */
main{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top:100px;
    
}
#personalInfo{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 75%;
    
}
.col-3of10{
    width: 33.3333333333%;
}
.col-1p5of10{
    width: 16.6666666666%;
}
.col-4of10{
    width: 40%;
}
.col-6of10{
    width: 60%;
}

@media (max-width: 1200px){
    main{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    
    }
    #personalInfo{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}
}
@media (max-width: 990px){
    main{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    
    }
    #personalInfo{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    
}
}
@media (max-width: 770px){
    main{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    
    }
    .col-3of10{
    width: 100%;
    }
    .col-1p5of10{
    width: 100%;
    }
    .col-4of10{
    width: 50%;
    }
    .col-6of10{
    width: 50%;
    }
    #personalInfo{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    }
}
