/*This Styles the div boxes gives them their rounded edges and the transparent borders*/
body{
    /*background: linear-gradient(rgba(229, 228, 228, 0.94), rgba(173, 167, 167, 0.69));*/
     font-family: 'Open Sans', sans-serif;
     background: radial-gradient(#c9c9c9, #f0f0f0, #e5e5e5);
    overflow: hidden;
}
.button {
    position: relative;
    background-color: #b11ab1;
    border-radius: 4px;
    box-shadow: 10px 10px 6px rgba(136, 135, 135, 0.63);
    border: 1px solid rgba(255, 255, 255, 0);
				
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    height: 200px;
    
  
				
}
/*The feed window has a diffrent height because its going to contain ny news feeds on posts etc. the z index is used to push the card foward because when the second rows moved up it stays ontop of it if the z index is not increased*/
#feedWindow{
    border-radius: 4px;
    box-shadow: 10px 10px 6px rgba(136, 135, 135, 0.63);
    border: 2px solid rgba(255, 255, 255, 0);
    border-right: none;
    border-bottom: none;
				
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    height: 400px;
    position: relative;
    z-index: 1;
    text-align: left;
    overflow: auto;
    color: #f2f2f2;
     
}
/*Affects the feed title*/
#feedwindow > p{
   display: inline-block;
    position: relative;
    top:20px;
    left: 20px;
    font-size: 15px;
    
}
/*The positioning for the second row is corrected here because of the height of the feed you ned to move the second row up by about half the height of the feed window; */
#firstRow{
    
}
/*To moce the second tor up since the height of the feed is 400*/
#secondRow{
    position: relative;
    top: -200px;
   
}
/*Begin tyling the header------*/
.light{
    opacity: .75;
}

strong{
    font-size: 16px; 
}
em{
    font-size: 14px;
    font-style: normal;
}
/*Affects the left side of the top pannel*/
#leftPersonalInfo{
    display: inline-block;
    
}
#rightPersonalInfo{
    display: inline-block;
    position: absolute;
    right:0%;
   
}
#leftPersonalInfo p{
    display: inline-block;
    float: right;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 12px;
    
}

/*Affects the contact icons in the top pannel */
#contactIcons{
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    right: 0%;
}
/*Used to style the text in the right pannel of the screen*/
#contactInfo {
    position: relative;
    font-size: 12px;
    top: 56px;
}
/*used to move the phone icon down abit*/
#contactInfo .phoneicon{
    position: relative;
    top: -2px;

    /*box-shadow: 1px 1px 6px rgb(136, 135, 135);*/
}
#contactIcons img{
    margin-left: 10px;
    
}
/*------End tyling the header*/

/*--Editing Default bootstrap settings--*/
.white{
    color: #e6e6e6;
    font-size: 15px;
}
/**/
.button span{
    position: absolute;
    right: 20px;
    top: 20px;
    

}
/*--Editing Default bootstrap settings--*/

/*Begin styling for the feed scrolbar--*/
#feedWindow::-webkit-scrollbar{
width:10px;
background-color:rgba(85, 84, 84, 0.24);
}
#feedWindow::-webkit-scrollbar-thumb{
background-color:#fd555a;
border-radius:1px;
}
#feedWindow::-webkit-scrollbar-thumb:hover{
background-color:#ff8285;
}
#feedWindow::-webkit-scrollbar-thumb:active{
background-color:#ff8285;
}
/*--End styling for the feed scrolbar*/

/*Begin indevidual styling for the carda--*/
#profileButton{
    background-color: #009fd4;
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;

}
#ExperienceButton{
    background-color: #009fd4;
    transition: background-color 0.4s ease;
}
#contactButton{
     background-color: #009fd4;
    transition: background-color 0.4s ease;
}
#EducationButton{
    background-color: #009fd4;
    transition: background-color 0.4s ease;
    
}
#resumeButton{
    background-color: #009fd4;
    transition: background-color 0.4s ease;
}
#feedWindow{
    background-color: rgba(232, 6, 41, 0.94);
}
#gpluswidget{
    
}
.button p{
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: rgba(255, 254, 254, 0.92);
    
    
}
/*--End indevidual styling for the carda*/


#profileButton:hover, #ExperienceButton:hover, #contactButton:hover,#EducationButton:hover, #resumeButton:hover {
    background-color: rgba(93, 93, 93, 0.77);
    box-shadow: 0px 0px 20px #f2ffaa;
    cursor: pointer;
}
#profileButton:active, #ExperienceButton:active, #contactButton:active,#EducationButton:active, #resumeButton:active{
    background-color: rgba(155, 155, 155, 0.93);
}
.leftDiaplayBox{
    position: relative;
    background-color: #b11ab1;
    border-radius: 4px;
    box-shadow: 10px 10px 6px rgba(136, 135, 135, 0.63);
    border: 1px solid rgba(255, 255, 255, 0);

  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    height: 400px;

}
.rightDisplayBox{
    position: relative;
    background-color: #b11ab1;
    border-radius: 4px;
    box-shadow: 10px 10px 6px rgba(136, 135, 135, 0.63);
    border: 1px solid rgba(255, 255, 255, 0);

  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    height: 400px;
}

/*Media Querys*/
@media (max-width: 770px){
    #secondrow{
    position: relative;
    top: 1px;
    z-index: 2;
    }
    #rightPersonalInfo{
    display: block;
    position: absolute;
    right:1%;
   
    }
    #leftPersonalInfo p{
    display: block;
    float: right;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 12px;
    
    }
}
@media (max-width :480px){
    #leftPersonalInfo p{
    display: block;
        position: relative;
        float: none;
    
    }
}


/*-------------------------------------------------------------------Ainimations------------------------------------------------------------------------*/
.active {
    display: block;
    -webkit-animation: activate .5s ease;
    -moz-animation: activate .5s ease;
    -ms-animation: activate .5s ease;
    -o-animation: activate .5s ease;
    animation: activate .5s ease;
}

.deactivate {
    -webkit-animation: remove .5s ease;
    -moz-animation: remove .5s ease;
    -ms-animation: remove .5s ease;
    -o-animation: remove .5s ease;
    animation: remove .5s ease;
    opacity: 0;
}
.popin {
    -webkit-animation: show-up 1.5s ease;
    -moz-animation: show-up 1.5s ease;
    -ms-animation: show-up 1.5s ease;
    -o-animation: show-up 1.5s ease;
    animation: show-up 1.5s ease;
}
.diaplay-none
{
    display: none;
}

@-webkit-keyframes show-up {
from {
    opacity:0;
    -webkit-transform:translateX(-1.5em)
}
to {
    opacity:1;
    -webkit-transform:translateX(0)

}}

@-moz-keyframes show-up {
from {
    opacity:0;
    -moz-transform:translateX(-1.5em)
}
to {
    opacity:1;
    -moz-transform:translateX(0)
}}

@-ms-keyframes show-up {
from {
    opacity:0;
    -ms-transform:translateX(-1.5em)
}
to {
    opacity:1;
    -ms-transform:translateX(0)
}}

@-o-keyframes show-up {
from {
    opacity:0;
    -o-transform:translateX(-1.5em)
}
to {
    opacity:1;
    -o-transform:translateX(0)
}}

@keyframes show-up {
from {
    opacity:0;
    transform:translateX(-1.5em)
}
to {
    opacity:1;
    transform:translateX(0)
}}




@-webkit-keyframes remove {

from {
    opacity: 1;
    -webkit-transform:scale(1)
}
to {
    opacity: 0;
    -webkit-transform:scale(.9);
    display: none;
}}

@-moz-keyframes remove {
from {
    opacity: 1;
    -moz-transform:scale(1)
}
to {
    opacity: 0;
    -moz-transform:scale(.9);
    display: none;
}}

@-ms-keyframes remove {
from {
    opacity: 1;
    -ms-transform:scale(1)
}
to {
    opacity: 0;
    -ms-transform:scale(.9);
    display: none;
}}

@-o-keyframes remove {
from {
    opacity: 1;
    -o-transform:scale(1)
}
to {
    opacity: 0;
    -o-transform:scale(.9);
    display: none;
}}

@keyframes remove {
from {
    opacity: 1;
    transform:scale(1)
}
to {
    opacity: 0;
    transform:scale(.9);
        display: none;
}}



@-webkit-keyframes activate {

from {
    opacity: 0;
    -webkit-transform:translateX(40px);
}
to {
    opacity: 1;
    -webkit-transform:translateX(0);
    display: block !important;
}}

@-moz-keyframes activate {
from {
    opacity: 0;
    -moz-transform:translateX(40px)
}
to {
    opacity: 1;
    -moz-transform:translateX(0);
    display: block !important;
}}

@-ms-keyframes activate {
from {
    opacity: 0;
    -ms-transform:translateX(40px)
}
to {
    opacity: 1;
    -ms-transform:translateX(0);
    display: block !important;
}}

@-o-keyframes activate {
from {
    opacity: 0;
    -o-transform:translateX(40px)
}
to {
    opacity: 1;
    -o-transform:translateX(0);
    display: block !important;
}}

@keyframes activate {
from {
    opacity: 0;
    transform:translateX(40px);

}
to {
    opacity: 1;
    transform:translateX(0);
    display: block !important;
}}
