
body{
     font-family: 'Open Sans', sans-serif;
     background: radial-gradient(#c9c9c9, #f0f0f0, #e5e5e5);
}
.button {
    position: relative;
    background-color: #b11ab1;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0);
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    height: 200px;
    z-index: 1;				
}
#projectWindow{
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-right: none;
    border-bottom: none;
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    height: 200px;
    position: relative;
    z-index: 1;
    text-align: left;
    overflow: auto;
    color: #f2f2f2;
}
#projectwindow > p{
   display: inline-block;
    position: relative;
    top:20px;
    left: 20px;
    font-size:17px;
    
}
#secondRow{
    position: relative;
}
/*Stying the header*/
.light{
    opacity: .75;
}
.companyImage{
   margin-top: 60px;
}
#defaultCompanyImage{
    margin-top: 102px;
}
strong{
    font-size: 16px; 
}
em{
    font-size: 14px;
    font-style: normal;
}
/*Affects the left side of the top pannel*/
#leftPersonalInfo{
    display: inline-block;
}
#leftPersonalInfo p{
    display: inline-block;
    float: right;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 12px;
}
/*Affects the contact icons in the top pannel */
#contactIcons{
    display: inline-block;
    position: absolute;
    margin-top: 30px;
    left: 0%;
}
/*Used to style the text in the right pannel of the screen*/
#contactInfo {
    position: relative;
    font-size: 12px;
    top: 56px;
    line-height: 200%;
}
/*used to move the phone icon down abit*/
#contactInfo .phoneicon{
    position: relative;
    top: -2px;

    /*box-shadow: 1px 1px 6px rgb(136, 135, 135);*/
}
#contactIcons img{
    margin-left: 10px;
}
/*------End tyling the header*/

/*--Editing Default bootstrap settings--*/
.white{
    color: #e6e6e6;
    font-size: 20px;
}
.paragraphWhite{
    color: #e6e6e6;
    text-align: left;
    /*font-size: 20px;*/
}
.marginProjectDetails{
    margin-left: 2em;
}
.tagParagraphWhite{
    color: #DEDEDE;
    text-align: center;
    margin-left: 3px;
    padding:3px; 
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #757575;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0);
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.cardSpacer{
    margin-bottom: 50px;
}
.fade2 {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.cardLoaded{
    opacity: 1 !important ; 
    transition: opacity .50s ease-in-out !important ;
    -moz-transition: opacity .50s ease-in-out !important ;
    -webkit-transition: opacity .50s ease-in-out !important ;
}
.fade2:hover {
    opacity: 0.5;
}
#projectDetailsTitle{
    margin-top: 0px;
    padding-bottom: 3px;
}
#projectDetails{
    display: flex;
    justify-content: center;
}
.projectDetailsItems{
    align-self: center;
}
/**/
.button span{
    position: absolute;
    right: 20px;
    top: 20px;
}

/*Begin indevidual styling for the cards--*/
#profileButton{
    background-color: #009fd4;
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
}
#experienceButton{
    background-color: #8c3;
    opacity: 0.4;/* Added because not completed yet*/
    transition: background-color 0.4s ease;
}
#contactButton{
     background-color: #e6c32d;
    transition: background-color 0.4s ease;
}
#educationButton{
    background-color: #e67e30;
    transition: background-color 0.4s ease;
    
}
#resumeButton{
    background-color: #0a9;
    opacity: 1.0;/* Added because not completed yet*/
    transition: background-color 0.4s ease;
}
#projectWindow{
    background-color: rgba(222, 38, 67, 0.94);
    opacity: 0.4;/* Added because not completed yet*/
    transition: background-color 0.4s ease;
}

.button p{
    font-size: 17px;
    letter-spacing: .1em;
    position: absolute;
    bottom: .2em;
    left: 1em;
    color: rgba(255, 254, 254, 0.92);
    
}
#designWork img{
    position: relative;
    top: 30%; 
    width: 40%;
    display:block;
    margin:auto;
}
#designWork{
    background: radial-gradient(rgb(255, 255, 255), #23c0dd, #2980cb);;
}
#profileButton:hover, #experienceButton:hover, #contactButton:hover,#educationButton:hover, #resumeButton:hover,#projectWindow:hover {

    background-color: rgba(93, 93, 93, 0.77) !important;
    box-shadow: 0px 0px 20px #fffffa;
    cursor: pointer;
}
#profileButton:active, #experienceButton:active, #contactButton:active,#educationButton:active, #resumeButton:active{
    background-color: rgba(155, 155, 155, 0.93);
}
.leftDisplayBox{
    position: relative;
    background-color: rgba(222, 222, 222, 0.20);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    height: 400px;

}
.rightDisplayBox{
    position: relative;
    background-color: rgba(31, 30, 31, 0.92);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0);
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    min-height: 400px;
    max-height: inherit;
    line-height: 170% !important;
}
/******Media Querys******
*************************/
@media (max-width: 770px){
    #secondrow{
    position: relative;
    top: 1px;
    z-index: 2;
    }
    #projectWindow{
        height: 200px;
    }
    #leftPersonalInfo p{
    display: block;
    float: right;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 12px;
    
    }
    #profilePicLarge{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #contact-card .leftDisplayBox{
        width: 90%;
    }
    body{
        overflow: auto;
    }
    .leftDisplayBox{
        height: 300px;
    }
    #sfuImage{
        margin-top: 9px;
    }
    #defaultCompanyImage{
        margin-top: 60px;
    }
    figcaption{
        display: none !important;
    }

}
@media (max-width :420px){
    #projectDetails{
        display: block;
        
    }
    .projectDetailsItems{
        align-self: center;
    }
    #projectWindow{
        height: 140px;
    }
    .button{
        height: 140px;
    }
    .marginProjectDetails{
        margin-left: 0px;
    }
}

@media (max-width :480px){
    #leftPersonalInfo p{
    display: block;
        position: relative;
        float: none;
    
    }
    table{
        width: 80% !important;
        margin: auto ;

    }
}
/******End media querys******
*************************/
#backButton{
    position:absolute;
    width: auto;
	height: 30px;
	/*background-color: #54aad1;*/
	border: none;
	border-radius: 4px;
	color: white;
    font-size: 1.3em;
    z-index: 1;
    margin-top: -13px;
}
#profilePicLarge{
    height: 100%;
}
/*Styling for profile-card*/
#profile-cardMain {
    position: relative;
    top:8%;

}
table{
    margin-top: 2em!important;
    width: 70%;
    margin: auto;
    letter-spacing: .07em;

}
figure{
    height: inherit;
}
figcaption{
    padding-top: 2px;
    font-size: .9em;
    color: grey;
}
#education-cardMain{
     position: relative;
    top:8%;
}
#education-card table{
    position: relative;
}
tr{
    border-collapse: separate;
    border-spacing: 100px;
}
.spacer{
   height: 2em;
}
.miniSpacer{
   height: 0.2em;
}
.leftColumn{  
    color: white;
    border-radius: 4px;
    text-align: left;
    padding-left: .7em;
    padding-right: .9em;
    background-color: rgba(53, 176, 230, 0.8);
    z-index: 2;
    display: inline block;
}
.leftColumn .glyphicon {
    top:4px !important;
}
.leftColumnHide{
    padding:6px;
    color: white;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
    display: inline block;
}
.rightColumn{
    color:#DEDEDE;
    border-radius: 4px;
    background-color: #414141;
    position: relative;
    padding-left: 10px;
    text-align: left;
    left: -10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.kick{
    width: 90%;
    margin: auto;
    color: #DEDEDE;
    border-radius: 4px;
    background-color: #414141;
    position: relative;
    padding: 1em;
    text-align: left;
    letter-spacing: 0.11em;
    margin-bottom: .8em;
}
.underline{
    position: relative;
    top: -8px;
    height: 1px;
    width: 90%;
    margin: auto;
    background-color: rgba(137, 189, 250, 0.1);
}
.leftTag{
    font-size: 15px;
    color: white;
    display: block;
    text-align: left;
    margin-left: 5%;

}
.rightDisplayBox> span{
    position: relative;
    left:40%;
    top:0.8em;
}
.leftLabel{
    width: 30%; 
    color: white;
    border-radius: 4px;
    background-color: rgba(53, 176, 230, 0.8);
    z-index: 2;
    position: absolute;
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px;
    text-align: left;
    left: 5%;
    font-weight: normal;
    font-size: 17px;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.rightLabel{
    color: white;
    border-radius: 4px;
    background-color: #414141;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 70%;
    position: relative;
    left: 15%;
    font-size: 17px;
    border-color: rgba(153, 176, 253, 0.17);
    padding-left: 10px;
    font-weight: 100;
    z-index: 3;
    display: inline-block;
    height: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}
#messageBox{
    height: 100px;
    font-size: 13px;
}
#contact-cardMain {
    position: relative;
    top:8%;
    width: 100%;
    height: 100%;
    margin: auto;
}
.extraRightText td{
    left:28.3%;
    top: 3px;
    padding: 3px;
    width: 70%;
}
#test{
    position: absolute;
    height: 30px;
    z-index: 0;
}
#contact-cardMain table{
    position: relative;
    
    top:60px;
    margin: auto;
}
form{
    width: 90%;
    margin: auto ;
}
.websiteProjectButton{
    width: auto;
	height: 30px;
	background-color: #f2f2f2;
	border: none;
	border-radius: 4px;
	color: #404040;
    /*font-weight: bold;*/
    font-style: italic;
    z-index: 1;
}
.rightDisplayBox::-webkit-scrollbar{
width:10px;
background-color:rgba(85, 84, 84, 0.24);
}
.rightDisplayBox::-webkit-scrollbar-thumb{
background-color:rgba(100, 104, 106, 0.8);
border-radius:1px;
}
.rightDisplayBox::-webkit-scrollbar-thumb:hover{
background-color:rgba(165, 165, 165, 0.8);
}
.rightDisplayBox::-webkit-scrollbar-thumb:active{
background-color:rgba(144, 144, 144, 0.6);
}
iframe{
    width: 100%;
    height: 100%;
}
#leftIntroductions{
   position: absolute;
    top: 0px;
    left: 90px;
}
#envelopeImage{
    position: relative;
    right: -4px;
}
.projectTitle{
    font-size: 19px;
    letter-spacing: .1em;
    margin-bottom: 1.5em;
    
}
.projectDetails{
    font-size: 19px;
    letter-spacing: .1em;
    margin-top: 1em;
    margin-bottom: .7em;
}
/****Ainimations****
*******************/
.active {
    display: block;
    -webkit-animation: activate 1.5s ease;
    -moz-animation: activate 1.5s ease;
    -ms-animation: activate 1.5s ease;
    -o-animation: activate 1.5s ease;
    animation: activate 1.5s ease;
}
.deactivate {
    -webkit-animation: remove .5s ease;
    -moz-animation: remove .5s ease;
    -ms-animation: remove .5s ease;
    -o-animation: remove .5s ease;
    animation: remove .5s ease;
    opacity: 0;
}
.popin {
    -webkit-animation: show-up 1.5s ease;
    -moz-animation: show-up 1.5s ease;
    -ms-animation: show-up 1.5s ease;
    -o-animation: show-up 1.5s ease;
    animation: show-up 1.5s ease;
}
.display-none
{
    display: none;
}

@-webkit-keyframes show-up {
from {
    opacity:0;
    -webkit-transform:translateX(-1.5em)
}
to {
    opacity:1;
    -webkit-transform:translateX(0)

}}

@-moz-keyframes show-up {
from {
    opacity:0;
    -moz-transform:translateX(-1.5em)
}
to {
    opacity:1;
    -moz-transform:translateX(0)
}}

@-ms-keyframes show-up {
from {
    opacity:0;
    -ms-transform:translateX(-1.5em)
}
to {
    opacity:1;
    -ms-transform:translateX(0)
}}

@-o-keyframes show-up {
from {
    opacity:0;
    -o-transform:translateX(-1.5em)
}
to {
    opacity:1;
    -o-transform:translateX(0)
}}

@keyframes show-up {
from {
    opacity:0;
    transform:translateX(-1.5em)
}
to {
    opacity:1;
    transform:translateX(0)
}}
@-webkit-keyframes remove {

from {
    opacity: 1;
    -webkit-transform:scale(1)
}
to {
    opacity: 0;
    -webkit-transform:scale(.9);
    display: none;
}}

@-moz-keyframes remove {
from {
    opacity: 1;
    -moz-transform:scale(1)
}
to {
    opacity: 0;
    -moz-transform:scale(.9);
    display: none;
}}

@-ms-keyframes remove {
from {
    opacity: 1;
    -ms-transform:scale(1)
}
to {
    opacity: 0;
    -ms-transform:scale(.9);
    display: none;
}}

@-o-keyframes remove {
from {
    opacity: 1;
    -o-transform:scale(1)
}
to {
    opacity: 0;
    -o-transform:scale(.9);
    display: none;
}}

@keyframes remove {
from {
    opacity: 1;
    transform:scale(1)
}
to {
    opacity: 0;
    transform:scale(.9);
        display: none;
}}
@-webkit-keyframes activate {

from {
    opacity: 0;
    -webkit-transform:translateX(40px);
}
to {
    opacity: 1;
    -webkit-transform:translateX(0);
    display: block !important;
}}

@-moz-keyframes activate {
from {
    opacity: 0;
    -moz-transform:translateX(40px)
}
to {
    opacity: 1;
    -moz-transform:translateX(0);
    display: block !important;
}}

@-ms-keyframes activate {
from {
    opacity: 0;
    -ms-transform:translateX(40px)
}
to {
    opacity: 1;
    -ms-transform:translateX(0);
    display: block !important;
}}

@-o-keyframes activate {
from {
    opacity: 0;
    -o-transform:translateX(40px)
}
to {
    opacity: 1;
    -o-transform:translateX(0);
    display: block !important;
}}

@keyframes activate {
from {
    opacity: 0;
    transform:translateX(40px);

}
to {
    opacity: 1;
    transform:translateX(0);
    display: block !important;
}}

/* code for animated blinking cursor */
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*Youtbe video controls*/
